<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>滴！学生卡</title>
<meta name="keywords" content="travel company red, free website template, CSS templates, download, cssMoban.com" />
<meta name="description" content="Travel Company Red - free CSS website template" />
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylesheets/templatemo_style.css" />
</head>
<body>
<div id="templatemo_maincontainer">
<div id="templatemo_topsection">
  <div id="templatemo_title">Alexa.cn </div>
  <div id="templatemo_slogan">Alexa.cn Top100 网站Js库引用量排名</div>
</div>
<div id="templatemo_left_column">
  <div id="templatemo_menu_top"></div>
  <div class="templatemo_menu"> 
  <ul>
    <li><a href="http://jquery.com/">jquery</a></li>
    <li><a href="http://www.bootcss.com/">bootstrap</a></li>
    <li><a href="https://cn.vuejs.org/">vue</a></li>
    <li><a href="#">main</a></li>
    <li><a href="#">base</a></li>
    
    <li><a href="#">common</a></li>
    <li><a href="#">home</a></li>
    <li><a href="#">footer</a></li>
    <li><a href="#">taspeed</a></li>
     <li><a href="#">request</a></li>
    <li><a href="#">class</a></li>
  </ul></div>
  <div id="templatemo_contact">
    <strong>欢迎指教<br /></br/></strong>
QQ: 1054295873<br />

Email: jdbaizhen@outlook.com</div>
</div>
<div id="templatemo_right_column">
	 <div class="innertube">
    <h1>各网站Js库引用量排名</h1>
   		<div class="search-div">
   			 <input type="text" class="searchurl" id="searchurl" />
   			 <button class="btn btn-danger" id="search_btn">搜索</button>
 			</div>
   </div>
  <div class="table-posi">
  	<table class="table table-bordered table-hover ">
  		<tr>
  			<th>排名</th>
  			<th>库名</th>
  			<th>引用量</th>
  		</tr>
  	</table>
  	<div id="example"></div>
  </div>
</div>
<div id="templatemo_bot"></div>
</div>
<div id="templatemo_footer">★非淡泊无以明志&nbsp;&nbsp;|&nbsp;&nbsp;非宁静无以致远</div>
<script type="text/javascript" src="javascripts/jquery-3.1.1.js"></script>
<script type="text/javascript" src="javascripts/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="javascripts/view.js"></script>
</body>
</html>